body.active-modal {
    overflow-y: hidden;
}

.modal {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.modal-content {
    display: flex;
    position: fixed;
    background: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80vw;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    left: 10%;
    bottom: 20%;
    z-index: 105;
}

form {
    display: flex;
    position: fixed;
    bottom: 28%;
    z-index: 100;
}

.add-post-input {
    display: flex;
    color: black;
    border-width: 0px;
    outline: none;
    height: 6vh;
    width: 50vw;
    padding: 5px;
    font-size: small;
    border-radius: 5%;
}



.upload {
    display: flex;
    background: rgb(164, 195, 178);
    background: linear-gradient(337deg, rgba(164, 195, 178, 1) 0%, rgba(107, 144, 128, 1) 100%);
    height: 6vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
    border-radius: 10px;

}

.new-post-title {
    height: 5vh;
    display: flex;
    position: fixed;
    right: 38%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5%;
}

.name-input-div {
    margin-bottom: 15%
}

.rating-input-div {
    margin-bottom: 15%
}

.genre-input-div {
    margin-bottom: 15%
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vh;
}

.close-modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #31433b;
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 6vh;
    bottom: 22%;
    left: 15%;
    font-weight: bold;
}

.post-modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #6b9080;
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 6vh;
    bottom: 22%;
    right: 15%;
    font-weight: bold;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.posts-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 64vh;
    width: 100vw;
    left: 0;
    bottom: 11%;
    overflow-y: scroll;
}

.image-and-post{
    display: flex;
}

.post-image {
    height:12vh;
    width:17vh;
    background-size: cover;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
}

.post-container {
    min-height: 12vh;
    max-height: 12vh;
    min-width: 60vw;
    max-width: 60vw;
    background-color: #eaf4f4;
    margin-bottom: 30px;
    z-index: 1;
}


.post-name {
    font-size: clamp(1rem, 5vw, 2rem);
    margin: 10px;
}

.post-rating {
    height: fit-content;
    margin: 10px;
}

.post-genre {
    height: fit-content;
    margin: 10px;
}


.material-icons {
    margin-left: 35px;
}

.upload input[type='file'i]::-webkit-file-upload-button {
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0);
    height: 6vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.upload input[type=file] {
    color: rgba(0, 0, 0, 0);
}

.delete-button{
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight:900;
    margin-left: 210px;
    margin-top: -20px;
    font-size: larger;
}


